.counterButton {
    font-size:16px;
    background-color:#00a5ab;
    width:100px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:30px;
    border-color:black;
    border-width:5px;
}

.count {
    font-size:150px;
    padding:20px;
}

.totalCount {
    font-size:150px;
    color:#00a5ab;
}